table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}


td#left {
    text-align: left;
}


img {

    width: 100;
}

h1 {
    background-color: blue;
    text-align: center;
}

